body{
    margin: 0;
    background-color: blue;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;color: white;
}
nav{
   display: flex;
    justify-content: center;
    align-items: center; 
}
ul{
    display: flex;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style: none;
}
h2{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
p{
     color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;  
}
  @media (max-width: 480px) {
    .login-container {
      margin: 0 1rem;
      padding: 2rem;
    }
  }


